body{
    background-image: url(Pictures/upscalemedia-transformed.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
    
}

.wrapper{
    overflow: auto;
    position: relative;
    background: transparent;
    width: 1200px;
    height: 1000px;
    border: 2px solid white;
    border-radius: 25px;
    border-width: 1px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px;
    display: flex;
    justify-content: center;
}

.WelcomeText{
    text-shadow: 0px 2px 5px rgb(255, 255, 255),
                0px 0px 20px rgb(255, 255, 255);
    color: rgb(253, 252, 252);
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    
}

.tech{
    filter: hue-rotate(100deg);
    position: absolute;
    padding-top: 200px;
    width: 600px;
    display: flex;
    z-index: -5;
    animation: spin 4s linear infinite;
    transform-origin: 305px;
    pointer-events: none;
}
.introduction  {
    color: white;
    padding-top: 100;
    position: absolute;
}

#code {
    position: absolute;
    width: 600px;
    height: 200px;
    padding-top: 200px;
    z-index: 1;
}

.Proxylink {
    position: absolute;
    padding-top: 500px;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    z-index: 1;
}

.Myinfo {
    position: absolute;
    padding-top: 600px;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    z-index: 1;
}

.Drawing {
    position: absolute;
    padding-top: 700px;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    z-index: 1;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}